aside{
    background-color: rgba(255, 0, 0, 0);
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.my-title{
    font-family: 'Markazi Text', serif;
    color: #2F5233;
    font-size: 33px;
    margin-top: 20px;
    margin-right: -95px;
    margin-bottom: 35px;
    justify-content: center;
    display: flex;
    flex-direction:row;
}

.game{
    background-color: #ffdfac62;
    width: 300px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    margin: auto;
    margin-top: -25px;
    margin-left: 100px;
    box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.041);
}

#scroll {
    overflow-y: scroll;
    height: 300px;  
    width: 30vw; 
    border-radius: 20px;
    overflow-x: hidden;
    display: block;
    
}

::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(82, 173, 123, 0.438);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(132, 221, 139, 0.479);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgba(38, 44, 41, 0.082);  /* creates padding around scroll thumb */
}

@media (max-width: 1220px) {
  #scroll{
    overflow-y: auto;
    overflow-x: scroll;
    height: 300px;  
    width: 25vw; 
    border-radius: 20px;
    box-sizing: 30px; 
  }
  ::-webkit-scrollbar {
    width: 12px; 
                 
  }
}