main{
    display: flex;
    justify-content: space-between;
    background-color:
    #B1D8B7;
    width: 80%;
    height: 30rem;
    margin: auto;
    border-radius: 25px;
}
h1{
    font-family: 'EB Garamond', serif;
    color: #2F5233;
    font-size: 36px;
    margin-top: 60px;
    font-weight: bold;
}